#compDetail, #deptDetail {
  width: 30%;
  margin: 0 auto;
}

#compEdit, #compAdd, #deptEdit, #deptAdd {
  margin-top: 50px;
  margin-bottom: 50px
}

#compForm, #deptForm {
  width: 60%;
  margin: 0 auto;
  margin-bottom: 50px;
}

#computerList, #deptList{
  max-width: 70%;
  margin: 0 auto
}

.addButton, .editButton{
  margin-top: 50px;
  margin-bottom: 50px
}

.listItems{
  max-width: 70%;
  margin: 0 auto
}

.detailView {
  width: 70%;
  margin: 0 auto;
}

.form {
  width: 60%;
  margin: 0 auto;
  margin-bottom: 50px;
}